---
import Hero from "../components/home/Hero.astro";
import Performance from "../components/home/Performance.astro";
import PluginSystem from "../components/home/PluginSystem.astro";
import ExtensionSystem from "../components/home/ExtensionSystem.astro";
import "@fontsource-variable/outfit";
import Install from "../components/home/Install.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Fast Brake - Fail Fast Feature Detection">
  <div class="px-3 md:px-10 xl:px-28">
    <Hero />
    <Performance />
    <PluginSystem />
    <ExtensionSystem />
    <Install />
  </div>
</HomeLayout>
